* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #8906E6;
}
.nav-icon{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.nav-icon-left{
    display: flex;
     /* padding-left: 20px; */
     padding-right: 20px;
    /* padding-top: 20px;  */
}
i:hover{
    background-color: #230f47;
}
.icon-home i, .icon-fullscreen i{
    padding: 5px;
}
.nav-icon-mid{
    color: white;
}
.nav-icon-right{
    display: flex;
}
.users{
    display: flex;
    align-items: center;
}
.box-users{
    display: flex;

}
.num-users{
    padding-left: 5px;
}
.box-right{
    display: flex;
    text-align: center;
}
.box-right{
    padding-right: 60px;
}
.box-user{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
.card-users{
    max-width: 300px;
    
}
.lesson-box{
    height: auto;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;

}  
.lesson{
    display: flex;
    justify-content: center;
}
.theloai{
    display: flex;
    justify-content: center;
    background-color: #cf3943;
    color: white;
    font-size: 13px;
}
.lesson-img img{
    width: 300px;
    height: 250px;
}