
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #8906E6;
}
.nav-box a{
    text-decoration: none !important;
    display:    inline-block !important;
    color: white !important;
}
.nav-img{
    width: 100px !important;
}
.nav{
    background-color: #8906E6 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    
}
.nav-box:hover{
    background-color: #230f47 !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    
}
.nav-box{
    display: flex !important;
    justify-content: center !important;
    /* padding-left: 10px; */
    margin-left: 10px !important;

}
.nav-item{
    display: flex;
}
.nav-box h2{
    padding: 5px;
}

