* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #8906e6;
}
.nav-box a {
  text-decoration: none !important;
  display: inline-block !important;
  color: white !important;
}
.nav-img {
  width: 100px !important;
}
.nav {
  background-color: #8906e6 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.nav-box:hover {
  background-color: #230f47 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
}
.nav-box {
  display: flex !important;
  justify-content: center !important;
  /* padding-left: 10px; */
  margin-left: 10px !important;
}
.nav-item {
  display: flex;
}
.nav-box h2 {
  padding: 5px;
}

.ques-item {
  cursor: pointer;
}

.ques-item img {
  width: 100%;
  border-radius: 8px;
}

.ques-name {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  margin-top: 12px;
}

.ques-quantity {
  color: #ffffff;
  font-style: italic;
}

.ques-pin {
  /* font-weight: bold; */
  margin: 6px 0;
  color: #ffffff;
  /* font-size: ; */
}
