* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #8906e6;
  padding: 20px;
}
#ques {
  text-align: center;
}
.dot {
  height: 100px;
  width: 100px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inform-ques {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.card-ques {
  text-align: center;
}
#blue {
  background-color: #001b70;
}
#red {
  background-color: #881c19;
}
#yellow {
  background-color: #794119;
}
#green {
  background-color: #1a410a;
}
.create-middle-box-ans {
  display: flex;
  margin-top: 20px;
  /* justify-content: space-between; */
}

.box-ans {
  background-color: blue;
  margin-bottom: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
}
