* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #8906E6;
}
a{
    text-decoration: none;
    display:    inline-block;
    color: white;
}
.container {
    align-items: center;
    background: #333333 ;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    height: 80px;
    justify-content: center;
    position: relative;
    width: 300px;
  }
  .text {
    color: white;
    position: absolute;
    transition: opacity 300ms;
    user-select: none;
    -moz-user-select: none;
  }
  .fingerprint {
    /* height: 80px; */
    left: -8px;
    opacity: 0;
    position: absolute;
    stroke: #777;
    top: -9px;
    transition: opacity 1ms;
  }
  .fingerprint-active {
    stroke: #fff;
  }
  .fingerprint-out {
    opacity: 1;
  }
  .odd {
    stroke-dasharray: 0px 50px;
    stroke-dashoffset: 1px;
    transition: stroke-dasharray 1ms;
  }
  .even {
    stroke-dasharray: 50px 50px;
    stroke-dashoffset: -41px;
    transition: stroke-dashoffset 1ms;
  }
  .ok {
    opacity: 0;
  }
  .active.container {
    animation: 6s Container;
  }
  .active .text {
    opacity: 0;
    animation: 6s Text forwards;
  }
  .active .fingerprint {
    opacity: 1;
    transition: opacity 300ms 200ms;
  }
  .active .fingerprint-base .odd {
    stroke-dasharray: 50px 50px;
    transition: stroke-dasharray 800ms 100ms;
  }
  .active .fingerprint-base .even {
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 800ms;
  }
  .active .fingerprint-active .odd {
    stroke-dasharray: 50px 50px;
    transition: stroke-dasharray 2000ms 1500ms;
  }
  .active .fingerprint-active .even {
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 2000ms 1300ms;
  }
  .active .fingerprint-out {
    opacity: 0;
    transition: opacity 300ms 4100ms;
  }
  .active .ok {
    opacity: 1;
    animation: 6s Ok forwards;
  }
  @keyframes Container {
    0% { width: 200px }
    6% { width: 80px }
    71% { transform: scale(1); }
    75% { transform: scale(1.2); }
    77% { transform: scale(1); }
  
    94% { width: 80px }
    100% { width: 200px }
  }
  @keyframes Text {
    0% { opacity: 1; transform: scale(1); }
    6% { opacity: 0; transform: scale(0.5); }
  
    94% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
  }
  @keyframes Ok {
    0% { opacity: 0 }
    70% { opacity: 0; transform: scale(0); }
    75% { opacity: 1; transform: scale(1.1); }
    77% { opacity: 1; transform: scale(1); }
    92% { opacity: 1; transform: scale(1); }
    96% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 0 }
  }
.nav-img{
    width: 100px;
}
.nav{
    background-color: #8906E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.nav-box:hover{
    background-color: #230f47;
    border-radius: 8px;
    box-sizing: border-box;
    
}
.nav-box{
    display: flex;
    justify-content: center;
    /* padding-left: 10px; */
    margin-left: 10px;

}
.nav-item{
    display: flex;
}
.nav-box h2{
    padding: 5px;
}
.pin{
    background-color: #8906E6;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
}
.pin-input input{
    width: 300px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid;
}
.pin-box{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
 .middle-box{
    display: flex;
    justify-content: center;
    margin-left: 80px;
} 
::placeholder {
  text-align: center;
}
/* .pin-item{
    
    display: flex;
} */
.pin-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/* .btn-submit{
    width: 300px;
    height: 48px;
    background-color: #333333;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid;
}
.btn-submit:hower {
    background-color: #333333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */
input{
    padding-left: 10px;
    font-size: 50px;
}  
.lesson-box{
    height: auto;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;

}  
.lesson{
    display: flex;
    justify-content: center;
}
.theloai{
    display: flex;
    justify-content: center;
    background-color: #cf3943;
    color: white;
    font-size: 13px;
}
.lesson-img img{
    width: 300px;
    height: 250px;
}

  
  
  
  